
.navbar-dark{
	color: ivory;
	height: 70px;
}

.navbar{
	color: #404040;
	position: center;
	font-size: 30px;
	font-weight: bold;
}

.nav-link{
	color: #404040;
	position: middle;
	font-size: 20px;
	text-decoration: overline;
}

.jumbotron{
	background-image: url("img/background.jpeg");
	background-size: cover;
}
