body{
	background-color: white;
	font-color: darkgrey;
}

h1{
	font-weight: bolder;
	font-family: 'Lato', sans-serif;
	font-size: 100px;
	color: ivory;
	margin-top: 5px;
	position: middle;
	text-align: center;
}

li{
	margin-top: 25px
}

iframe{
	margin-top: 50px;
}

h3{
	margin-top: 10px;
}

.navbar-dark{
	color: ivory;
	height: 70px;
}

.navbar{
	color: #404040;
	position: center;
	font-size: 30px;
	font-weight: bold;
}

.nav-link{
	color: #404040;
	position: middle;
	font-size: 20px;
	text-decoration: overline;
}

.banner{
background-image :url(img/banner2.jpeg);
background-size: cover;
height: 400px
}

.ingredients{
	margin-top: 30px;
	font-weight: 300;
	font-family: "lato", sans-serif;
	position: right;
	background-color: navajowhite;
} 

.ingredientcontainer {
    position: relative;
    margin-left: 60px;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.steps{
	margin-top: 30px
	margin-left: 50px;
}

.name{
	text-align: center;
	color: navajowhite;
	font-weight: bold;
}

.comment{
	margin-top: 10px;
	text-align: center;
	font-style: oblique;
}

.text-center{
	margin-top:15px;
	border-width: 2px;
	border-color: darkgrey;
}

.boxcomment{
	margin-left: 50px
	margin-right: 50px;
	margin-top: 50px;
}









